<h1>New Post</h1>
<div>
  <%= render 'form', post: @post %>
</div> <br>

<div>
  <%= link_to 'Back', posts_path,id:'action', class: 'btn btn-primary' %>
  <%= link_to "#{current_user.first_name} Post", posts_path,id:'action', class: 'btn btn-primary' %>
</div>
<br>
